@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}

p {
  font-size: 15px;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
}

/* Header Start */
#header {
  background: var(--off-white);
}

#header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

#header .navbar ul {
  display: flex;
}

#header .navbar ul li a {
  margin: 0 20px;
  color: var(--dark-grayish-blue);
}

#header .navbar ul li a:hover {
  color: var(--soft-red);
}

/* Header End */
/* Section 1 Start */
#section-1 .row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem 0;
  column-gap: 2rem;
}

#section-1 .row img {
  width: 100%;
}

#section-1 .row .article-content {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  margin-top: 20px;
}

#section-1 .row .article-content h1 {
  font-size: 55px;
  line-height: 1.1;
  font-weight: 800;
  letter-spacing: 1.2px;
  color: var(--very-dark-blue);
}

#section-1 .row .article-content p,
#section-1 .row .col p {
  color: var(--dark-grayish-blue);
}

#section-1 .row .article-content .btn {
  display: inline-block;
  background-color: var(--soft-red);
  color: var(--off-white);
  padding: 15px 30px;
  letter-spacing: 4px;
  font-weight: 700;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#section-1 .row .article-content .btn:hover {
  background-color: var(--very-dark-blue);
  color: #fff;
}

#section-1 .row aside {
  background-color: var(--very-dark-blue);
  padding: 25px;
}

#section-1 .row aside h2 {
  color: var(--soft-orange);
  font-size: 40px;
}

#section-1 .row aside div {
  padding: 20px 0 30px;
}

#section-1 .row aside div:not(:last-child) {
  border-bottom: 1px solid var(--dark-grayish-blue);
}

#section-1 .row aside a {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  color: var(--off-white);
  margin: 20px 0 10px;
}

#section-1 .row aside a:hover {
  color: var(--soft-orange);
}

#section-1 .row aside p {
  color: var(--grayish-blue);
}

/* Row 2 */
#section-2 .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  padding: 3rem 0;
}

#section-2 .row .col {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-2 .row .col img {
  max-width: 100px;
  margin-right: 20px;
}

#section-2 .row .col .number {
  font-size: 30px;
  font-weight: 800;
  color: var(--grayish-blue);
}

#section-2 .row .col a {
  display: inline-block;
  font-size: 16px;
  color: var(--very-dark-blue);
  font-weight: 700;
  margin: 5px 0 10px;
}

#section-2 .row .col a:hover {
  color: var(--soft-red);
}

/* Section 1 End */